<footer class="footer">
  <div class="footer-content-wrapper">
    <!-- Left image space -->
    <div class="footer-image-space left">
      <img src="../../assets/Screenshot 2025-04-07 233044.png" alt="Left decoration">
    </div>

    <!-- Main footer content -->
    <div class="footer-container">
      <div class="footer-columns-wrapper">
        <div class="footer-columns-wrapper-left">
          <div class="footer-column">
            <h3 class="footer-title">Pages</h3>
            <div class="footer-grid">
              <div class="footer-grid-column">
                <a href="#" class="footer-link">Home</a>
                <a href="#" class="footer-link">Shop</a>
                <a href="#" class="footer-link">About</a>
                <a href="#" class="footer-link">Contact</a>
                <a href="#" class="footer-link">Blog</a>
                <a href="#" class="footer-link">Privacy policy</a>
                <a href="#" class="footer-link">FAQs</a>
              </div>
            </div>
          </div>

          <div class="footer-column">
            <h3 class="footer-title">Utility</h3>
            <div class="footer-grid">
              <div class="footer-grid-column">
                <a href="#" class="footer-link">Style guide</a>
                <a href="#" class="footer-link">Instruction</a>
                <a href="#" class="footer-link">Changelog</a>
                <a href="#" class="footer-link">Licenses</a>
                <a href="#" class="footer-link">Link in bio</a>
                <a href="#" class="footer-link">Error 404</a>
                <a href="#" class="footer-link">Password protected</a>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-logo-column">
          <div class="logo-center-content">
            <div class="logo"><span class="logoico"></span>Medifit</div>
            <p class="logo-description">We provide the ultimate solution for your online store and all the healthcare needs.</p>

            <div class="social-icons">
              <a href="https://web.facebook.com/MediFitCorporateServices/?_rdc=1&_rdr#" class="social-link">
                <img src="../../assets/icons8-facebook.svg" alt="Facebook">
              </a>
              <a href="https://x.com/medifitcorp" class="social-link">
                <img src="../../assets/icons8-twitter.svg" alt="Twitter">
              </a>
              <a href="https://www.instagram.com/medifit.wellness/" class="social-link">
                <img src="../../assets/icons8-instagram.svg" alt="Instagram">
              </a>
              <a href="https://www.youtube.com/channel/UCBKBZP6fbx4947-tQcKjYqQ" class="social-link">
                <img src="../../assets/icons8-youtube.svg" alt="YouTube">
              </a>
            </div>
          </div>
        </div>

        <!-- Address/Contact Column -->
        <div class="footer-column">
          <div class="gapping">
            <div>
              <h3 class="footer-title">Address</h3>
              <p class="footer-text">
                <span><img class="image" src="../../assets/location_on_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt="location"></span>
                16:40 Suez Canal University, Ismailia
              </p>
            </div>
            <div>
              <h3 class="footer-title">Contact</h3>
              <p class="footer-text">
                <span><img class="image" src="../../assets/mail_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt="mail"></span>
                hello©gmail.com<br>
                <span><img class="image" src="../../assets/call_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt="call"></span>
                (+02) 0122-000-5555
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right image space -->
    <div class="footer-image-space right">
      <img src="../../assets/Screenshot 2025-04-07 233119.png" alt="Right decoration">
    </div>
  </div>

  <div class="footer-bottom">
    <p class="footer-copyright">© copyright 2025 Medifit - All right reserved</p>
  </div>
</footer>
