.contain {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  width: 100% !important;
  position: relative;
}

.main-content {
  /* flex: 1; */
  margin-top: 91px;
  background-color: #EEEDE7;
}

/* تعديلات للـ header */
app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* تعديلات للـ footer */
app-footer {
  width: 100%;
}

/* للشاشات الصغيرة */
@media (max-width: 480px) {
  .main-content {
    margin-top: 70px;
  }
}

