<!-- hero-section.component.html -->
<section class="hero-container">
  <div class="hero-content">
    <h1 class="hero-title">Your trusted care now and always</h1>
    <p class="hero-subtitle">For the best results, align your health needs with your medication plan.</p>
    <button class="shop-button" (click)="onclick()">
      <span class="shop-icon"><img src="../../assets/833314.png" alt="shop"></span> Shop now
    </button>
  </div>
  <div class="hero-image">
    <img src="../../assets/Screenshot 2025-04-12 173230.png" alt="Medifit medication bottles" />
  </div>
</section>
