<div class="community-container">
  <div class="community-content">
    <div class="community-text">
      <h4>Join our trustable Medifit product community</h4>
      <p class="community-description">
        Join us as we build a community where wellness is accessible, education is
        empowering, and health is a shared journey.
      </p>
      <button class="community-btn" (click)="onclick()">
        <span>Get started</span>
        <img
          src="../../assets/img/link-external.svg"
          alt="External link"
          class="btn-icon"
        />
      </button>
    </div>
    <div class="community-images">
      <div class="image-column">
        <div class="image-wrapper tall">
          <img src="../../assets/img/11.png" alt="Herbal capsules" class="community-img" />
        </div>
        <div class="image-wrapper">
          <img src="../../assets/img/13.png" alt="Medicine packaging" class="community-img" />
        </div>
      </div>
      <div class="image-column">
        <div class="image-wrapper">
          <img src="../../assets/img/12.png" alt="Person holding medicine" class="community-img" />
        </div>
        <div class="image-wrapper tall">
          <img src="../../assets/img/14.png" alt="Vitamin supplements" class="community-img" />
        </div>
      </div>
    </div>
  </div>
</div>
