<div class="contain">
  <app-header></app-header>
  <main class="main-content">
    <div class="custom-bg scroll-container" #scrollDiv>
      <div class="custom-bg rela">
        <div class="container containerdiv">
          <div class="title">
            <h1 class="explore Outfit">{{ headingText }}</h1>
            <p class="parag Outfit">
              Modern, Essential, and Quality Medical Products for Your Health
            </p>
          </div>
          <button class="filter-btn Outfit" (click)="toggleFilterDropdown()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="28px"
              viewBox="0 -960 960 960"
              width="28px"
              fill="#EEEDE7"
            >
              <path
                d="M400-240v-80h160v80H400ZM240-440v-80h480v80H240ZM120-640v-80h720v80H120Z"
                class="filtersvg"
              /></svg
            ><span class="svgfiltermarg">Filters</span>
          </button>
          <div class="content">
            <div class="filter" *ngIf="isFilterVisible">
              <div class="logofilter">
                <p class="logofilterleft Outfit">Filters</p>
                <p class="logofilterright Roboto" (click)="clearAll()">
                  Clear all
                </p>
              </div>
              <div class="show Outfit">
                Showing
                <span class="numberofproduct">{{ productshowing }}</span> of
                <span class="numberofproduct">{{ numberofproduct }}</span>
              </div>
              <div class="productname">
                <div
                  class="categoryg1 Outfit"
                  [ngClass]="{ active: selectedProduct === 'All' }"
                  (click)="selectProduct('All')"
                >
                  All
                </div>
                <div
                  class="categoryg2 Outfit"
                  [ngClass]="{ active: selectedProduct === 'Lab equipment' }"
                  (click)="selectProduct('Lab equipment')"
                >
                  Lab equipment
                </div>
                <div
                  class="categoryg3 Outfit"
                  [ngClass]="{ active: selectedProduct === 'Health care' }"
                  (click)="selectProduct('Health care')"
                >
                  Health care
                </div>
                <div
                  class="categoryg4 Outfit"
                  [ngClass]="{ active: selectedProduct === 'Medicine' }"
                  (click)="selectProduct('Medicine')"
                >
                  Medicine
                </div>
                <div
                  class="categoryg5 Outfit"
                  [ngClass]="{ active: selectedProduct === 'Fitness' }"
                  (click)="selectProduct('Fitness')"
                >
                  Fitness
                </div>
                <div
                  class="categoryg6 Outfit"
                  [ngClass]="{ active: selectedProduct === 'Medical devices' }"
                  (click)="selectProduct('Medical devices')"
                >
                  Medical devices
                </div>
                <div
                  class="categoryg7 Outfit"
                  [ngClass]="{ active: selectedProduct === 'Beauty care' }"
                  (click)="selectProduct('Beauty care')"
                >
                  Beauty care
                </div>
              </div>
              <div class="line"></div>
              <div class="price">
                <div class="toggle1">
                  <div class="nav-link1 Outfit" (click)="toggleArrow($event)">
                    Price
                  </div>
                  <div class="svg" (click)="toggleArrow($event)">
                    <svg
                      id="arrowIcon"
                      xmlns="http://www.w3.org/2000/svg"
                      height="24px"
                      viewBox="0 -960 960 960"
                      width="24px"
                      fill="#5E5E5E"
                    >
                      <path
                        d="M480-528 296-344l-56-56 240-240 240 240-56 56-184-184Z"
                      />
                    </svg>
                  </div>
                </div>
                <div
                  class="check1"
                  [style.display]="showFormCheck ? 'block' : 'none'"
                  #priceRadioGroup
                >
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="type1"
                      id="Under100"
                      [(ngModel)]="Price"
                      (click)="selectProduct2('Under 100 EGP')"
                      value="Chair"
                      checked
                      required
                    />
                    <label class="form-check-label Outfit" for="Under100"
                      >Under 100 EGP</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="type2"
                      id="500EGP"
                      [(ngModel)]="Price"
                      (click)="selectProduct2('100 EGP to 500 EGP')"
                      value="Sofa"
                    />
                    <label class="form-check-label Outfit" for="500EGP"
                      >100 EGP to 500 EGP</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="type3"
                      id="3000EGP"
                      [(ngModel)]="Price"
                      (click)="selectProduct2('500 EGP to 3000 EGP')"
                      value="Tables"
                    />
                    <label class="form-check-label Outfit" for="3000EGP"
                      >500 EGP to 3000 EGP</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="type4"
                      id="6000EGP"
                      [(ngModel)]="Price"
                      (click)="selectProduct2('3000 EGP to 6000 EGP')"
                      value="Kitchen"
                    />
                    <label class="form-check-label Outfit" for="6000EGP"
                      >3000 EGP to 6000 EGP</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="type5"
                      id="Over6000"
                      [(ngModel)]="Price"
                      (click)="selectProduct2('Over 6000 EGP')"
                      value="Over 6000 EGP"
                    />
                    <label class="form-check-label Outfit" for="Over6000"
                      >Over 6000 EGP</label
                    >
                  </div>
                </div>
              </div>
              <div class="line"></div>
              <div class="rating">
                <div class="toggle1">
                  <div class="nav-link1 Outfit" (click)="toggleArrow3($event)">
                    Average Rating
                  </div>
                  <div class="svg" (click)="toggleArrow3($event)">
                    <svg
                      id="arrowIcon3"
                      xmlns="http://www.w3.org/2000/svg"
                      height="24px"
                      viewBox="0 -960 960 960"
                      width="24px"
                      fill="#5E5E5E"
                    >
                      <path
                        d="M480-528 296-344l-56-56 240-240 240 240-56 56-184-184Z"
                      />
                    </svg>
                  </div>
                </div>
                <div
                  class="check1"
                  [style.display]="showFormCheck3 ? 'block' : 'none'"
                  #ratingRadioGroup
                >
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="rating"
                      id="rating5"
                      [(ngModel)]="rating"
                      (click)="selectProduct4(5)"
                      value="5"
                      title="5"
                      required
                    />
                    <label class="form-check-label3 Outfit" for="rating5">
                      <i class="fa-solid fa-star star"></i>
                      <i class="fa-solid fa-star star"></i>
                      <i class="fa-solid fa-star star"></i>
                      <i class="fa-solid fa-star star"></i>
                      <i class="fa-solid fa-star star"></i>
                    </label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="rating"
                      id="rating4"
                      [(ngModel)]="rating"
                      (click)="selectProduct4(4)"
                      value="4"
                      title="4"
                      required
                    />
                    <label class="form-check-label3 Outfit" for="rating4">
                      <i class="fa-solid fa-star star"></i>
                      <i class="fa-solid fa-star star"></i>
                      <i class="fa-solid fa-star star"></i>
                      <i class="fa-solid fa-star star"></i>
                    </label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="rating"
                      id="rating3"
                      [(ngModel)]="rating"
                      (click)="selectProduct4(3)"
                      value="3"
                      title="3"
                      required
                    />
                    <label class="form-check-label3 Outfit" for="rating3">
                      <i class="fa-solid fa-star star"></i>
                      <i class="fa-solid fa-star star"></i>
                      <i class="fa-solid fa-star star"></i>
                    </label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="rating"
                      id="rating2"
                      [(ngModel)]="rating"
                      (click)="selectProduct4(2)"
                      value="2"
                      title="2"
                      required
                    />
                    <label class="form-check-label3 Outfit" for="rating2">
                      <i class="fa-solid fa-star star"></i>
                      <i class="fa-solid fa-star star"></i>
                    </label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="rating"
                      id="rating1"
                      [(ngModel)]="rating"
                      (click)="selectProduct4(1)"
                      value="1"
                      title="1"
                      required
                    />
                    <label class="form-check-label3 Outfit" for="rating1">
                      <i class="fa-solid fa-star star"></i>
                    </label>
                  </div>
                </div>
              </div>
              <div class="line"></div>
            </div>

            <div class="weightcards">
              <div class="sortag">
                <div class="tag" (click)="toggleTag()">
                  <span class="spantag Roboto">Tag</span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#5E5E5E"
                  >
                    <path
                      d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
                    />
                  </svg>
                </div>
                <div class="selectproductstype">
                  <div
                    [ngClass]="{
                      'Outfit selectprod d-block': selectedProduct !== ''
                    }"
                    (click)="removeTag('product')"
                  >
                    {{ selectedProduct }}
                  </div>
                  <div
                    [ngClass]="{
                      'Outfit selectprod d-block': selectedProduct2 !== ''
                    }"
                    (click)="removeTag('price')"
                  >
                    {{ selectedProduct2 }}
                  </div>
                  <div
                    [ngClass]="{
                      'Outfit selectprodstar d-block': selectedProduct4 !== ''
                    }"
                    (click)="removeTag('rating')"
                  >
                    {{ selectedProduct4 }}
                  </div>
                </div>

                <div class="sort Roboto">
                  <select
                    title="sortby"
                    class="sort-dropdown Roboto"
                    id="sortOptions"
                    (mouseover)="onMouseOver($event)"
                    (mouseout)="onMouseOut($event)"
                    [(ngModel)]="selectedOption"
                    (change)="filterProducts()"
                  >
                    <option value="" disabled selected>Sort by</option>
                    <option class="pricesort" value="price">Price</option>
                    <option value="rating">Rating</option>
                  </select>
                </div>
              </div>
              <div class="container containerproduct">
                <div class="row">
                  <div *ngIf="noProductsFound" class="col-12">
                    <p class="no-products-message Outfit">
                      No Product Available Now !
                    </p>
                  </div>

                  <div
                    class="col-lg-4 col-md-6 col-sm-12"
                    *ngFor="let product of pagedProducts"
                  >
                    <div class="card mb-3 cardproduct">
                      <!-- Display sale tag if product has a sale percentage -->
                      <div class="sale-tag" *ngIf="product.sale_percentage > 0">
                        SALE {{ product.sale_percentage }}%
                      </div>

                      <img
                        [src]="getProductImage(product)"
                        [alt]="product.name || 'Product Image'"
                        loading="lazy"
                        class="card-img-top"
                        (error)="onImageError($event, product)"
                      />
                      <div class="card-body">
                        <p class="typeproduct Outfit">{{ product.type }}</p>
                        <h4 class="nameproduct Outfit">{{ product.name }}</h4>

                        <!-- Price display logic -->
                        <div class="price-container Outfit">
                          <!-- Regular price (no sale) -->
                          <p
                            class="priceproduct"
                            *ngIf="
                              !product.sale_percentage ||
                              product.sale_percentage === 0
                            "
                          >
                            {{ formatPrice(product.price) }} EGP
                          </p>

                          <!-- Sale price comparison -->
                          <div
                            class="price-comparison"
                            *ngIf="product.sale_percentage > 0"
                          >
                            <span class="original-price"
                              >{{ formatPrice(product.price) }} EGP</span
                            >
                            <span class="sale-price"
                              >{{
                                formatPrice(product.price_after_sale)
                              }}
                              EGP</span
                            >
                          </div>
                        </div>

                        <div
                          class="ratingproduct"
                          [innerHTML]="
                            generateStarIconsproduct(
                              parseInt(product.rating),
                              5
                            )
                          "
                        ></div>
                        <div
                          class="pay Outfit"
                          (click)="movepaymethod(product)"
                        >
                          Pay Now <span class="greatpay Outfit"> > </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <nav aria-label="Page navigation">
                <ul class="pagination pagenav">
                  <li class="page-item">
                    <div
                      class="page-link scalepagi"
                      aria-label="Previous"
                      (click)="goToPreviousPage()"
                    >
                      <span aria-hidden="true">&laquo;</span>
                    </div>
                  </li>

                  <!-- First page -->
                  <li class="page-item" *ngIf="shouldShowFirstPage()">
                    <div
                      class="page-link"
                      [class.active]="1 === currentPage"
                      (click)="changePage(1)"
                    >
                      1
                    </div>
                  </li>

                  <!-- First ellipsis -->
                  <li
                    class="page-item ellipsis"
                    *ngIf="shouldShowFirstEllipsis()"
                  >
                    <div class="page-link ellipsis-link">...</div>
                  </li>

                  <!-- Middle pages -->
                  <li class="page-item" *ngFor="let page of getMiddlePages()">
                    <div
                      class="page-link"
                      [class.active]="page === currentPage"
                      (click)="changePage(page)"
                    >
                      {{ page }}
                    </div>
                  </li>

                  <!-- Last ellipsis -->
                  <li
                    class="page-item ellipsis"
                    *ngIf="shouldShowLastEllipsis()"
                  >
                    <div class="page-link ellipsis-link">...</div>
                  </li>

                  <!-- Last page -->
                  <li class="page-item" *ngIf="shouldShowLastPage()">
                    <div
                      class="page-link"
                      [class.active]="getTotalPagesCount() === currentPage"
                      (click)="changePage(getTotalPagesCount())"
                    >
                      {{ getTotalPagesCount() }}
                    </div>
                  </li>

                  <li class="page-item">
                    <div
                      class="page-link scalepagi"
                      aria-label="Next"
                      (click)="goToNextPage()"
                    >
                      <span aria-hidden="true">&raquo;</span>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
