<!-- sec1-home2.component.html -->
<section class="wellness-section">
  <div class="wellness-container">
    <div class="wellness-content">
      <h1 class="wellness-title">From wellness to <span class="highlight">care</span> all in one place</h1>

      <div class="wellness-info-container">
        <div class="wellness-card">
          <div class="card-image">
            <img src="../../assets/home2-small.png" alt="Person with medicine bottles">
          </div>

          <div class="card-text">
            <p>Your health is in good hands with Medifit. We're here to provide you with a wide range of healthcare essentials, carefully selected.</p>

            <button class="shop-button">
              <img src="../../assets/img/link-external.svg" alt="Shopping bag" class="button-icon">
              <span>Shop now</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="wellness-image">
      <img src="../../assets/home2.jpg" alt="Person holding medicine bottle">
    </div>
  </div>
</section>


<!-- logo-bar.component.html -->
<div class="logo-bar">
  <div class="container">
    <div class="logo-slider">
      <div class="logo-item">
        <img src="../../assets/Emblem.png" alt="Emblem" class="logo-image">
        <span class="logo-name">Emblem</span>
      </div>
      <div class="logo-item">
        <img src="../../assets/Grapho.png" alt="Grapho" class="logo-image">
        <span class="logo-name">Grapho</span>
      </div>
      <div class="logo-item">
        <img src="../../assets/Wayline.png" alt="WAYLINE" class="logo-image">
        <span class="logo-name">WAYLINE</span>
      </div>
      <div class="logo-item">
        <img src="../../assets/signet.png" alt="Signet" class="logo-image">
        <span class="logo-name">Signet</span>
      </div>
      <div class="logo-item">
        <img src="../../assets/perlude.png" alt="PRELUDE" class="logo-image">
        <span class="logo-name">PRELUDE</span>
      </div>
      <div class="logo-item">
        <img src="../../assets/signum.png" alt="Signum" class="logo-image">
        <span class="logo-name">Signum</span>
      </div>
    </div>
  </div>
</div>
